.card_container{
    background: rgba(255, 255, 255, 0.181);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.256);
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    height: auto;
    }
    b{
        color: #45474B;
    }
    .pokemons_egg,.pokemons_description,.pokemons_color,.pokemons_abilities,.pokemons_indices,.pokemons_moves,.pokemons_type,.pokemons_weight{
        color: #495E57;
    }
    .pokemons_name{
        color: #45474B;
    }
    .pokemon_img:hover{
        transform: scale(1.1);
        transition: 0.5s ease-in;
    }